:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-cyan: #2cd1b9;

    --light-blue: hsl(233, 100%, 69%);
    --very-light-blue: #808eff;

    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
