<section class="py-8">
  <div class="text-center pb-12">
    <h2 class="font-semibold text-dark-grayish-blue text-2xl capitalize">
      Access Clipboard anywhere
    </h2>
    <p class="text-grayish-blue">
      Whether you’re on the go, or at your computer, you can access all your
      Clipboard snippets in a few simple clicks.
    </p>
  </div>
  <div>
    <img src="images/image-devices.png" alt="image phone and tablet" />
  </div>
</section>
