<section class="py-8 lg:pt-24">
  <div class="text-center pb-12 lg:px-56">
    <h2 class="font-semibold text-dark-grayish-blue text-3xl pb-6 capitalize">
      Access Clipboard anywhere
    </h2>
    <p class="text-grayish-blue lg:px-32">
      Whether you’re on the go, or at your computer, you can access all your
      Clipboard snippets in a few simple clicks.
    </p>
  </div>
  <div class="flex justify-center px-56">
    <img
      src="images/image-devices.png"
      alt="image phone and tablet"
      class="w-[90%]"
    />
  </div>
</section>
