<footer class="bg-gray-100">
  <section class="flex flex-col py-12">
    <div class="flex justify-center">
      <img src="images/logo.svg" alt="logo" class="w-14" />
    </div>
    <div class="mx-auto py-12">
      <ul class="flex flex-col gap-8 items-center">
        <li>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="text-dark-grayish-blue hover:text-strong-cyan duration-300 ease-in-out"
            >FAQs</a
          >
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer class="
            class="text-dark-grayish-blue hover:text-strong-cyan duration-300 ease-in-out"
            >Contact Us</a
          >
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="text-dark-grayish-blue hover:text-strong-cyan duration-300 ease-in-out"
          >
            Privacy Policy
          </a>
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="text-dark-grayish-blue hover:text-strong-cyan duration-300 ease-in-out"
            >Press Kit</a
          >
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="text-dark-grayish-blue hover:text-strong-cyan duration-300 ease-in-out"
            >Install Guide</a
          >
        </li>
      </ul>
    </div>
    <ul class="flex justify-center gap-10 items-center">
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img
            src="images/icon-facebook.svg"
            alt="logo facebook"
            class="icon"
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img
            src="images/icon-twitter.svg"
            alt="logo twitter"
            class="hover:"
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="images/icon-instagram.svg" alt="logo instagram" class="" />
        </a>
      </li>
    </ul>
  </section>
  <div>
    <p class="text-center text-dark-grayish-blue">
      Challenge by
      <a
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank"
        rel="noopener noreferrer"
        class="underline">Frontend Mentor</a
      >.
    </p>
    <p class="text-center text-dark-grayish-blue">
      Coded by <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="underline">Joseph Lpz</a
      >.
    </p>
  </div>
</footer>
