<section class="mx-auto py-12 flex flex-col items-center gap-12">
  <div>
    <img src="images/logo-google.png" alt="logo google" />
  </div>
  <div>
    <img src="images/logo-ibm.png" alt="logo ibm" />
  </div>
  <div>
    <img src="images/logo-microsoft.png" alt="logo microsoft" />
  </div>
  <div>
    <img src="images/logo-hp.png" alt="logo hp" />
  </div>
  <div>
    <img src="images/logo-vector-graphics.png" alt="logo vector graphics" />
  </div>
</section>
