<section
  class="mx-auto py-12 flex flex-col items-center gap-12 lg:flex-row lg:justify-between lg:px-40 lg:pb-40"
>
  <div>
    <img src="images/logo-google.png" alt="logo google" class="w-[90%]" />
  </div>
  <div>
    <img src="images/logo-ibm.png" alt="logo ibm" class="w-[90%]" />
  </div>
  <div>
    <img src="images/logo-microsoft.png" alt="logo microsoft" class="w-[90%]" />
  </div>
  <div>
    <img src="images/logo-hp.png" alt="logo hp" class="w-[90%]" />
  </div>
  <div>
    <img
      src="images/logo-vector-graphics.png"
      alt="logo vector graphics"
      class="w-[90%]"
    />
  </div>
</section>
