<section class="mx-auto">
  <header class="text-center pb-20 lg:px-56">
    <h2 class="text-3xl font-semibold text-dark-grayish-blue pb-6">
      Keep track of your snippets
    </h2>
    <p class="text-grayish-blue lg:px-24">
      Clipboard instantly stores any item you copy in the cloud, meaning you can
      access your snippets immediately on all your devices. Our Mac and iOS apps
      will help you organize everything.
    </p>
  </header>
  <div class="flex flex-col lg:flex-row">
    <div class="lg:flex-1">
      <img
        src="images/image-computer.png"
        alt="image computer"
        class="h-full w-full lg:-ml-10"
      />
    </div>
    <div class="flex flex-col gap-12 py-12 lg:flex-1">
      <article class="text-center lg:text-left lg:w-[65%] lg:pl-20">
        <h5 class="text-2xl font-semibold text-dark-grayish-blue">
          Quick Search
        </h5>
        <p class="text-grayish-blue">
          Easily search your snippets by content, category, web address,
          application, and more.
        </p>
      </article>
      <article class="text-center lg:text-left lg:w-[65%] lg:pl-20">
        <h5 class="text-2xl font-semibold text-dark-grayish-blue">
          iCloud Sync
        </h5>
        <p class="text-grayish-blue">
          Instantly saves and syncs snippets across all your devices.
        </p>
      </article>
      <article class="text-center lg:text-left lg:w-[65%] lg:pl-20">
        <h5 class="text-2xl font-semibold text-dark-grayish-blue">
          Complete History
        </h5>
        <p class="text-grayish-blue">
          Retrieve any snippets from the first moment you started using the app.
        </p>
      </article>
    </div>
  </div>
</section>
