<section class="mx-auto py-6">
  <div class="text-center">
    <h2 class="font-semibold text-dark-grayish-blue text-3xl pb-6">
      Supercharge your workflow
    </h2>
    <p class="text-grayish-blue">
      We’ve got the tools to boost your productivity.
    </p>
  </div>
  <div
    class="flex flex-col gap-12 py-12 lg:flex-row lg:justify-center lg:px-40 lg:gap-8"
  >
    <article class="flex-1">
      <div class="flex justify-center py-8">
        <img src="images/icon-blacklist.svg" alt="icon blacklist" />
      </div>
      <div class="text-center">
        <h2 class="font-semibold text-dark-grayish-blue text-xl pb-4">
          Create blacklists
        </h2>
        <p class="text-grayish-blue text-sm">
          Ensure sensitive information never makes its way to your clipboard by
          excluding certain sources.
        </p>
      </div>
    </article>

    <article class="flex-1">
      <div class="flex justify-center py-8">
        <img src="images/icon-text.svg" alt="icon text" />
      </div>
      <div class="text-center">
        <h2 class="font-semibold text-dark-grayish-blue text-xl pb-4">
          Plain text snippets
        </h2>
        <p class="text-grayish-blue text-sm">
          Remove unwanted formatting from copied text for a consistent look.
        </p>
      </div>
    </article>

    <article class="flex-1">
      <div class="flex justify-center py-8">
        <img src="images/icon-preview.svg" alt="icon preview" />
      </div>
      <div class="text-center">
        <h2 class="font-semibold text-dark-grayish-blue text-xl pb-4">
          Sneak preview
        </h2>
        <p class="text-grayish-blue text-sm">
          Quick preview of all snippets on your Clipboard for easy access.
        </p>
      </div>
    </article>
  </div>
</section>
